<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Profile</title>

</head>

<body>
    <h1>Profile</h1>
    {% if user.is_authenticated %}

        {% csrf_token %}

        {% if user.type == 'shop' %}

            <h2>Shop Profile</h2>

        {% else %}

            <h2>User Profile</h2>

        {% endif %}

    {% endif %}

    {% if user.type == 'user' %}

        <h3>User Info</h3>

    {% endif %}

    <form action="{% url 'profile_change' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

    <label for="username">Username: {{ user.username }} </label><br>
        <input type="text" id="username" name="username" value="{{ form.username.value }}"><br>
    <label for="email">Email: {{ user.email }}</label><br>
        <input type="email" id="email" name="email" value="{{ form.email.value }}"><br>
    <label for="first_name">First name: {{ user.first_name }}</label><br>
        <input type="text" id="first_name" name="first_name" value="{{ form.first_name.value }}"><br>
    <label for="last_name">Last name: {{ user.last_name }}</label><br>
        <input type="text" id="last_name" name="last_name" value="{{ form.last_name.value }}"><br>
    <label for="company">Company: {{ user.company }}</label><br>
        <input type="text" id="company" name="company" value="{{ form.company.value }}"><br>
    <label for="position">Position: {{ user.position }}</label><br>
        <input type="text" id="position" name="position" value="{{ form.position.value }}"><br>

        {% if user.photo %}
            <img src="{{ user.photo.url }}" alt="Аватар пользователя" class="img-fluid rounded_circle"
             style="width: 100px; height: 100px;">
        {% else %}
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Аватар пользователя" class="img-fluid rounded_circle"
             style="width: 100px; height: 100px;">
        {% endif %}
        <input type="file" class="form-control mt-3" id="photo" name="photo" accept="image/*">
        {% if form.photo.errors %}
            <div class="alert alert-danger alert-dismissible fade show">
                {{ form.photo.errors }}
            </div>
        {% endif %}
        <br>

        <button type="submit" href="{% url 'profile' %}">Сохранить изменения</button><br>
    </form>

    {% if user.type == 'shop' %}

        <h3>Shop Info</h3>

    {% endif %}

    {% if user.type == 'shop' %}

        <label for="shop_name">Shop Name: {{ user.shop.name }}</label>

        <input type="text" id="shop_name" name="shop_name"><br>

    {% endif %}

    {% if user.type == 'shop' %}

        <label for="shop_description">Shop Description: {{ user.shop.description }}</label>

        <input type="text" id="shop_description" name="shop_description"><br>

    {% endif %}

</body>

</html>